<section>
    <h3>latest album & EP</h3>
    <iframe style="border: 0; width: 400px; height: 241px;" src="https://bandcamp.com/EmbeddedPlayer/album=2449115909/size=large/bgcol=333333/linkcol=ffffff/artwork=small/transparent=true/" seamless><a href="https://peopleyoumeetoutsideofbars.bandcamp.com/album/the-only-thing-that-hurts-worse">the only thing that hurts worse by people you meet outside of bars</a></iframe>
    <iframe style="border: 0; width: 400px; height: 241px;" src="https://bandcamp.com/EmbeddedPlayer/album=3893498687/size=large/bgcol=333333/linkcol=ffffff/artwork=small/transparent=true/" seamless><a href="https://peopleyoumeetoutsideofbars.bandcamp.com/album/its-really-only">it&#39;s really only by people you meet outside of bars</a></iframe>
</section>
<section>


    <h3>recent posts</h3>

     {{ .Render "sidebartaxonomyshortblock" }}


<!--

   {{ range where .Site.RegularPages ".Params.tags" "intersect" (slice "people you meet outside of bars")}}

            {{ .Render "sidebartaxonomyshortblock" }}

    {{ end }}
 -->


<!--    <ul class="links">
        <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
        <li><a href="#">Ornare in hendrerit in lectus</a></li>
        <li><a href="#">Semper mod quis eget mi dolore</a></li>
        <li><a href="#">Consequat etiam lorem phasellus</a></li>
        <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
        <li><a href="#">Semper mod quisturpis nisi</a></li>
    </ul> -->

    <footer>
        <a href="/category/people-you-meet-outside-of-bars/" class="button">all pymoob posts</a>
    </footer>
</section>