<section>
        {{ $slice := .Title }}
    {{ range first 5 (where .Site.RegularPages ".Params.category" "intersect" (slice $slice))}}

    <div class="box post">
        {{- if .Params.image }}
        <a href="{{ .RelPermalink }}" class="image blog"><img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}" /></a>
        {{ end }}
        <div class="inner">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <p class="tags">

            in

            {{ with .GetTerms "tags" }}
                {{ range . }}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            {{ end }}
                </p>
        </div>
    </div>
        {{ end }}
</section>
